@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root {
  --mainBlue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #ffffff;
  --transparentWhite: rgba(255, 255, 255, 0.7);
  --mainBlack: rgb(41, 47, 54);
  --transparentBlack: rgba(41, 47, 54, 0.7);
  --mainGrey: rgb(216, 214, 214);
  --transparentGrey: rgba(216, 214, 214, 0.7);
  --mainYellow: rgb(227, 181, 5);
  --transparentYellow: rgba(227, 181, 5, 0.7);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
